<app-renderer-component [showAxishelper]='true' [axisHelperSize]='50' [cameraPosition]='[-100, 30, 60]'
  [controlsPosition]='[0, 30, 0]' [rendererWidth]='500' [rendererHeight]='500' modelPath='../assets/models/Seat/scene.gltf'></app-renderer-component>

<!-- <app-renderer-component [showAxishelper]='true' [axisHelperSize]='10000' [cameraPosition]='[0, 4000, 45000]' [controlsPosition]='[0, 0, 0]' [rendererWidth]='1000'
  [rendererHeight]='600' [modelPath]=''../assets/models/A320/scene.gltf''></app-renderer-component> -->
<!-- <div [innerHTML]="content"></div> -->
